@include media-breakpoint-up(xl) {
	.modal-xl {
		max-width: $modal-xl;
	}
}


@include media-breakpoint-down(sm) {
	.btn-block-sm-only {
		display: block;
		width: 100%;
	}
}

body,
html {
	height: 100%;
}

::-moz-selection {
	color: $light;
	background: $dark;
}

::selection {
	color: $light;
	background: $dark;
}

/* - Chrome ≤56,
   - Safari 5-10.0
   - iOS Safari 4.2-10.2
   - Opera 15-43
   - Opera Mobile >12
   - Android Browser 2.1-4.4.4
   - Samsung Internet
   - QQ Browser */
::-webkit-input-placeholder {
	color: #cccccc;
	font-weight: 400;
}

/* Firefox 4-18 */
:-moz-placeholder {
	opacity: 1;
	color: #cccccc;
	font-weight: 400;
}

/* Firefox 19-50 */
::-moz-placeholder {
	opacity: 1;
	color: #cccccc;
	font-weight: 400;
}

/* Internet Explorer 10–11 and Internet Explorer Mobile 10-11 */
:-ms-input-placeholder {
	color: #cccccc !important;
	font-weight: 400 !important;
}

/* Edge (also supports ::-webkit-input-placeholder) */
::-ms-input-placeholder {
	color: #cccccc !important;
	font-weight: 400;
}

/* CSS Pseudo-Elements Level 4 Editor's Draft */
::placeholder {
	color: #cccccc !important;
	font-weight: 400;
}

*:focus {
	outline: none !important;
	box-shadow: none !important;
}

.wrap-words {
	white-space: normal;
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-all;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: -webkit-pre-wrap;
	white-space: -moz-pre-wrap !important;
}

.bg-dark {
	color: $body-color-light;
}

.alert {
	p:last-child {
		margin-bottom: 0;
	}
}

.bg-gray-500 {
	background-color: $gray-500 !important;
}

.error {
	color: $danger;
	margin-top: 0.5rem;
}

.warning {
	color: $warning;
	margin-top: 0.5rem;
}

.info {
	color: $secondary;
	margin-top: 0.5rem;
}

.fa-chevron-down {
	font-size: 0.7rem;
}
