@include media-breakpoint-up(xl) {
	.modal-xl {
		max-width: $modal-xl;
	}
}


@include media-breakpoint-down(sm) {
	.btn-block-sm-only {
		display: block;
		width: 100%;
	}
}

body,
html {
	height: 100%;
}

::-moz-selection {
	color: $light;
	background: $dark;
}

::selection {
	color: $light;
	background: $dark;
}

.bg-dark {
	color: $body-color-light;
}

.alert {
	p:last-child {
		margin-bottom: 0;
	}
}

.bg-gray-500 {
	background-color: $gray-500 !important;
}

.error {
	color: $danger;
	margin-top: 0.5rem;
}

.warning {
	color: $warning;
	margin-top: 0.5rem;
}

.info {
	color: $secondary;
	margin-top: 0.5rem;
}

.fa-chevron-down {
	font-size: 0.7rem;
}
