@include media-breakpoint-up(xl) {
	.modal-xl {
		max-width: $modal-xl;
	}
}


@include media-breakpoint-down(sm) {
	.btn-block-sm-only {
		display: block;
		width: 100%;
	}
}

body,
html {
	height: 100%;
}

::-moz-selection {
	color: $light;
	background: $dark;
}

::selection {
	color: $light;
	background: $dark;
}

.bg-dark {
	color: $body-color-light;
}

.alert {
	p:last-child {
		margin-bottom: 0;
	}
}

.error {
	color: $danger;
	margin-top: 0.5rem;
}

.warning {
	color: $warning;
	margin-top: 0.5rem;
}

.info {
	color: $secondary;
	margin-top: 0.5rem;
}

.fa-chevron-down {
	font-size: 0.7rem;
}

.select-autocomplete__control {
	height: auto;
	font-size: 0.875rem;
	line-height: 2.75rem;
	background-color: #F0F0F0;
	border: 1px solid #D9D9D9 !important;
	box-shadow: none !important;
	border-radius: $border-radius;
	
	&:hover {
		border: 1px solid #D9D9D9 !important;
	}
}

.select-autocomplete__control-is-focused {
	border: 1px solid #D9D9D9 !important;
}

.select-autocomplete__input {	
	color: #343E48;
	padding: 1px;
	display: block;
	white-space: pre;
	min-height: 1.2em;
	font-weight: normal;
	box-shadow: none !important;
}

.select-autocomplete__menu {	
	padding: 1px 4px;
	color: $dark;
	display: block;
	white-space: pre;
	min-height: 1.2em;
	font-weight: normal;
	background-color: $white;
	border-radius: $border-radius;
	
	.select-autocomplete__menu-list {
		color: $dark;
		background-color: $white;
	
		.select-autocomplete__option {
			color: $dark;
			padding: 4px 10px;
			line-height: 2.75rem;
			background-color: $white;
			border-radius: $border-radius;

			&:hover,
			&:active {
				color: $secondary !important;
				background-color: $body-color-light;
			}
		}
	}
}
