@import 'mixins';

@import 'variables';

@import '~bootstrap/scss/bootstrap';

@import '~font-awesome/scss/font-awesome';

@import '~react-datepicker/src/stylesheets/datepicker';

@import '~react-toastify/scss/main';

@import 'core';

@import 'fonts';

@import 'helpers';

@import 'typography';

@import 'utilities';

@import 'elements/buttons';

@import 'elements/forms';

@import 'elements/popovers';

@import 'elements/tables';

@import 'elements/toasts';

@import 'elements/modal';

@import 'elements/calendar';

header {
	h1 {
		a {
			color: $white;
			line-height: normal;
			text-decoration: none;
			background-color: transparent;
			font-size: calculateRem(28px);
			font-weight: $font-weight-normal;

			&:hover {
				color: $white;
				text-decoration: none;
			}

			span {
				color: $primary;
			}
		}
	}

	.week-toggle {
		border-radius: $border-radius;
		background-color: $body-color-light;
		
		.btn-toggle {
			font-size: 0.80rem;
			background-color: transparent;
			line-height: calculateRem(44px);
	
			&:hover {
				cursor: pointer;
				color: $primary !important;
			}
		}

		.btn-week-picker {
			line-height: calculateRem(43px);
		}
	}
	
	.navbar {
		.actions {
			@extend %clearfix;
			@extend %clearlist;

			li {
				float: left;

				.btn-profile-popover {
					color: $white;
					text-decoration: none;
					outline: none !important;
					
					&:active,
					&:focus,
					&:hover {
						color: $white;
						outline: none !important;
						outline-style: none !important;
						background-color: darken($dark, 10%);
					}
				}

				&:last-child {
					padding-right: 0 !important;
				}
			}

			.active a {
				background-color: darken($dark, 10%);
			}
		}
		
		.profile-toggle {
			display: block;
			
			@include media-breakpoint-up(sm) {
				display: flex;
				justify-content: flex-end;
			}
		}
	}
}

.login-page-container,
.register-page-container,
.update-your-password-page-container,
.forgotten-your-password-page-container {
	min-height: min-content;
	min-height: -moz-min-content;
	min-height: -webkit-min-content;
	
	@include media-breakpoint-up(md) {
		height: 100vh;
	}

	.panel-welcome {
		width: 90%;
		margin: 0 auto;
		max-width: calculateRem(620px);
		
		@include media-breakpoint-up(lg) {
			width: 70%;
		}
	}
	
	.panel-page {
		width: 90%;
		margin: 0 auto;
		max-width: calculateRem(720px);
		
		&__content {
			width: 100%;
			padding: 2rem;
			
			@include media-breakpoint-up(lg) {
				padding: 3rem;
			}
		}
	
		&__link {
			margin-bottom: 1rem;
			display: inline-block;
		}
		
		&__forgot {
			display: block;
			margin-top: 2rem;
			text-align: center;
		}
	}
}
