@import 'mixins';

@import 'variables';

@import '~bootstrap/scss/bootstrap';

@import '~font-awesome/scss/font-awesome';

@import '~react-datepicker/src/stylesheets/datepicker';

@import '~react-toastify/scss/main';

@import '~loaders.css/src/loaders';

@import 'core';

@import 'fonts';

@import 'helpers';

@import 'typography';

@import 'utilities';

@import 'elements/buttons';

@import 'elements/forms';

@import 'elements/popovers';

@import 'elements/tables';

@import 'elements/toasts';

@import 'elements/modal';

@import 'elements/calendar';

/* App styles */
header {
	h1 {
		a {
			color: $white;
			line-height: normal;
			text-decoration: none;
			background-color: transparent;
			font-size: calculateRem(28px);
			font-weight: $font-weight-normal;

			&:hover {
				color: $white;
				text-decoration: none;
			}

			span {
				color: $primary;
			}
		}
	}

	.week-toggle {
		border-radius: $border-radius;
		background-color: $body-color-light;
		
		.btn-toggle {
			font-size: 0.80rem;
			background-color: transparent;
			line-height: calculateRem(44px);
	
			&:hover {
				cursor: pointer;
				color: $primary !important;
			}
		}

		.btn-week-picker {
			line-height: calculateRem(43px);
		}
	}
	
	.navbar {
		.actions {
			@extend %clearfix;
			@extend %clearlist;

			li {
				float: left;

				.btn-profile-popover {
					color: $white;
					text-decoration: none;
					outline: none !important;
					
					&:active,
					&:focus,
					&:hover {
						color: $white;
						outline: none !important;
						outline-style: none !important;
						background-color: darken($dark, 10%);
					}
				}

				&:last-child {
					padding-right: 0 !important;
				}
			}

			.active a {
				background-color: darken($dark, 10%);
			}
		}
		
		.profile-toggle {
			display: block;
			
			@include media-breakpoint-up(sm) {
				display: flex;
				justify-content: flex-end;
			}
		}
	}
}

/* Marketing site styles */
.home-page-container {
	color: #343E48;
	line-height: 1.5;
	min-height: min-content;
	background-color: $dark;
	min-height: -moz-min-content;
	font-size: calculateRem(16px);
	min-height: -webkit-min-content;
	
	.header {
		.navbar-brand {
			width: 280px;	
		}
		
		.navbar-nav {
			.nav-item {
				.nav-link {
					color: $white !important;
					
					&:hover {
						color: $text-muted !important;
					}
				}
			}
		}
	}
		
	@include media-breakpoint-down(md) {
		.header {
			.navbar-nav {
				display: inline-block;
				text-align: center !important;
				margin: calculateRem(5px) auto !important;
				
				.nav-item {
					text-align: center;
					display: inline-block;
					padding: 0 calculateRem(15px) !important;
					
					.nav-link {
						color: $white !important;
						
						&:hover {
							color: $text-muted !important;
						}
					}
				}
			}
		}
	}
	
	.introduction {
		.introduction-image {
			height: calculateRem(700px);
			background-repeat: no-repeat;
			background-position: top left;
			background-origin: content-box;
			max-height: calculateRem(700px);
		}
		
		@include media-breakpoint-down(md) {
			.introduction-image {
				height: calculateRem(500px);
				background-position: top left;
				max-height: calculateRem(500px);
			}
		}
		
		@include media-breakpoint-down(sm) {
			.introduction-image {
				height: calculateRem(500px);
				background-position: top left;
				max-height: calculateRem(500px);
			}
		}
	}
	
	.create,
	.publish,
	.manage {
		border-bottom: 1px solid $gray-400;
		
		.lead-text {
			&::after {
				bottom: 0;
				content: '';
				display: block;
				position: absolute;
				width: calculateRem(30px);
				height: calculateRem(5px);
				background-color: $primary;
			}
		}
		
		@include media-breakpoint-down(sm) {
			.lead-text {
				&::after {
					position: relative;
					margin: calculateRem(10px) auto 0;
				}
			}
			
			img {
				width: 70%;
				text-align: center;
				margin: 0 auto !important;
			}
		}
		
		img {
			width: 100% \9;
		}
	}
	
	.promo {
		.promo-image {
			background-size: cover;
			height: calculateRem(600px);
			background-repeat: no-repeat;
			background-origin: content-box;
			max-height: calculateRem(600px);
			background-position: center left;
		}
		
		.lead-text {
			&::after {
				bottom: 0;
				content: '';
				display: block;
				position: absolute;
				width: calculateRem(30px);
				height: calculateRem(5px);
				background-color: $primary;
			}
		}
		
		@include media-breakpoint-down(md) {
			.promo-image {
				height: calculateRem(400px);
				background-position: top left;
				max-height: calculateRem(400px);
			}
		}
		
		@include media-breakpoint-down(sm) {
			.promo-image {
				background-size: contain;
				height: calculateRem(300px);
				max-height: calculateRem(300px);
				background-position: center right;
			}
			
			.lead-text {
				&::after {
					position: relative;
					margin: calculateRem(10px) auto 0;
				}
			}
		}
	}
	
	.about,
	.beta,
	.pricing {
		.lead-text {
			&::after {
				bottom: 0;
				content: '';
				display: block;
				position: relative;
				width: calculateRem(30px);
				height: calculateRem(5px);
				background-color: $primary;
				margin: calculateRem(20px) auto 0;
			}
		}		
	}
	
	.sms {
		.sms-image {
			background-size: cover;
			height: calculateRem(400px);
			background-repeat: no-repeat;
			background-origin: content-box;
			max-height: calculateRem(400px);
			background-position: center top;
		}
		
		.lead-text {
			&::after {
				bottom: 0;
				content: '';
				display: block;
				position: absolute;
				width: calculateRem(30px);
				height: calculateRem(5px);
				background-color: $primary;
			}
		}
		
		@include media-breakpoint-down(sm) {
			.sms-image {
				height: calculateRem(200px);
				max-height: calculateRem(200px);
				background-position: center -45px;
			}
			
			.lead-text {
				&::after {
					position: relative;
					margin: calculateRem(10px) auto 0;
				}
			}
		}
	}
	
	.beta {
		.question {
			color: $secondary;
		}
	}
	
	.pricing {
		.card {
			.card-header {
				.h5 {
					border-bottom: 1px solid #1b909b;
					padding-bottom: 5px;
				}	
			}
			
			.card-body {
				font-size: calculateRem(14px);
				border-radius: 4px !important;
			}
		}
		
		.foot-notes {
			font-size: calculateRem(13px);
		}
	}
	
	.service-updates {
		label {
			display: none;
		}
		
		input {
			border: 0;
		}
		
		.error,
		.alert-success {
			font-size: calculateRem(14px);
		}
	}
	
	.footer {
		background-color: $white;
		font-size: calculateRem(14px);
	
		a {
			text-decoration: underline;
			font-size: calculateRem(16px);
		}
	}
}

.login-page-container,
.register-page-container,
.update-your-password-page-container,
.forgotten-your-password-page-container {
	min-height: min-content;
	min-height: -moz-min-content;
	min-height: -webkit-min-content;
	
	@include media-breakpoint-up(md) {
		height: 100vh;
	}

	.panel-welcome {
		width: 90%;
		margin: 0 auto;
		max-width: calculateRem(620px);
		
		@include media-breakpoint-up(lg) {
			width: 70%;
		}
	}
	
	.panel-page {
		width: 90%;
		margin: 0 auto;
		max-width: calculateRem(720px);
		
		&__content {
			width: 100%;
			padding: 2rem;
			
			@include media-breakpoint-up(lg) {
				padding: 3rem;
			}
		}
	
		&__link {
			margin-bottom: 1rem;
			display: inline-block;
			text-decoration: none;
		}
		
		&__forgot {
			display: block;
			margin-top: 2rem;
			text-align: center;
		}
	}
}

/* IE only */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.custom-select,
	.form-control {
		line-height: normal;
		height: calculateRem(58px);
	}
	
	.form-control-sm {
		line-height: normal;
		height: auto;
	}
}	

/* Firefox only */
@-moz-document url-prefix() {
	.close {
		font-size: 1.21875rem;
	}
}	

@media screen and (-webkit-min-device-pixel-ratio:0) { 
	input,
	select,
	textarea {
		font-size: calculateRem(16px);
	}
}
