{
	"env": {
    	"node": true,
    	"browser": true,
    	"jest": true,
    },
	"parser": "babel-eslint",
	"plugins": [
		"react",
	],
	"extends": [
		"airbnb-base",
	],
	"rules": {
		"linebreak-style": 0,
		"no-tabs": 0,
		"no-unused-vars": 0,
		"indent": [2, "tab", {"SwitchCase": 1}],
		"max-len": 0,
		"import/extensions": "off",
		"import/no-unresolved": "off",
		"no-console": "off",
	},
}
