/public/hot
/public/assets
/public/storage
/public/mix-manifest.json
/node_modules
/npm-debug.log
.DS_Store
.idea
.vscode
.vagrant
/Homestead.json
/Homestead.yaml
/npm-debug.log
/yarn-error.log
/todo.txt
/notes.txt
/mix-manifest.json
/docker/node/packaged/*
/!docker/node/packaged/.gitkeep
/public/404.html
/public/index.html
