.btn {
	box-shadow: none;
	// font-size: 0.75rem;
	text-transform: none;
	color: $body-color-light;
	border-radius: $border-radius;
	font-weight: $font-weight-semi;

	@include media-breakpoint-down(lg) {
		padding: 0.75rem 1.5rem;
	}

	@include media-breakpoint-up(lg) {
		padding: 0 1.5rem;
		line-height: calculateRem(44px);
	}

	&:focus {
		outline: none !important;
	}
	
	&:disabled {
		opacity: 0.5;
		color: $white;
		cursor: not-allowed !important;
	}
}

.disabled {
	opacity: 0.5;
	color: $white;
	cursor: not-allowed !important;
}

.btn-tertiary {
}

.btn-rotas-popover {
	color: $dark;
	opacity: 1 !important;
	background-color: $white;
	
	&:hover {
		color: $white !important;
		background-color: darken($dark, 10%);
	}
	
	&:disabled {
		opacity: 1 !important;
		color: $dark !important;
			
		&:hover {
			opacity: 1 !important;
			color: $dark !important;
			background-color: $white !important;
		}
	}
}

.btn-nav {
	padding: 0 1.5rem;
	line-height: calculateRem(44px);
}

.btn-action {
	background-color: lighten($dark, 10%);
	
	&:hover {
		color: $body-color-light;
		background-color: darken($dark, 10%);
	}
}

.btn-user {
	background-color: transparent;

	&:hover {
		color: $body-color-light;
		background-color: darken($dark, 10%);
	}
}

.btn-sm {
	line-height: normal;
}

.btn-icon {
	padding: 0.5rem;
	font-size: 0.65rem;
	line-height: normal;
}

.btn-overview {
	padding: 0.5rem;
	line-height: normal;
}

.btn-disabled {
	color: $white !important;
	cursor: not-allowed !important;
	background-color: #EBEBE4 !important;
	
	i {
		color: $white !important;
		cursor: not-allowed !important;
	}
	
	&:hover {
		color: $white !important;
		cursor: not-allowed !important;
		background-color: #EBEBE4 !important;
		
		i {
			color: $white !important;
			cursor: not-allowed !important;
		}
	}
}

.btn-outline-danger {
	&:hover {
		color: #ffffff !important;
	}
}

.btn-toggle-fields {
	color: $dark;
	background-color: #c8c8c8;
	
	&:hover {
		color: $dark;
		background-color: #b1b1b1;
	}
}

.btn-create-select {
	color: $dark;
	border-color: #D9D9D9;
	height: 58px !important;
    background-color: #F0F0F0;
	
	&:hover {
		color: $dark;
		border-color: #D9D9D9;
		background-color: #f8f9fa;
	}
}

.btn-no-click {
	cursor: default !important;
	
	&:active,
	&:hover {
		background-color: inherit !important;
	}
}
