.react-datepicker__portal {
    border: 0 !important;
	background-color: rgba(52, 62, 72, 0.85);
	
	.react-datepicker {
		border: 0 !important;
		font-family: inherit;
		background-color: $white !important;
	
		.react-datepicker__navigation--next {
			border-left-color: $white;
			margin-top: calculateRem(10px);
	
			&:hover {
				border-left-color: $light;
			}
	    }
	    
	    .react-datepicker__navigation--previous {
			border-right-color: $white;
			margin-top: calculateRem(10px);
	
			&:hover {
				border-right-color: $light;
			}
	    }
	
		.react-datepicker__month-container {
			.react-datepicker__header {
				border-bottom: 0;
				background-color: $secondary;
				
				.react-datepicker__current-month {
					color: $white;
					font-size: 1.3rem;
					text-transform: uppercase;
					margin-top: calculateRem(10px);
				}
			}
			
			.react-datepicker__day-names {
				.react-datepicker__day-name {
					width: 5rem;
					color: $white;
				}
			}
		
			.react-datepicker__month {
				.react-datepicker__week {
					.react-datepicker__day {
						width: 5rem;
						color: inherit;
						font-weight: normal;
						
						&:hover {
							color: inherit;
							background-color: transparent;
						}
					}
					
					.react-datepicker__day--today {
						color: $white;
						font-weight: normal;
						border-radius: 0.3125rem;
						background-color: $secondary !important;
						
						&:hover {
							background-color: $secondary !important;
						}
					}
		
					.react-datepicker__day--selected {
						color: inherit;
						font-weight: normal;
						background-color: transparent;
					}
					
					.react-datepicker__day--outside-month {
						color: $text-muted;
						
						&:hover {
							color: $text-muted;
						}
					}
					
					.react-datepicker__day--highlighted {
						color: $white;
						background-color: $metallic-gray;
						
						&:hover {
							background-color: $metallic-gray;
						}
					}

					&:hover {
						color: $white;
						border-radius: 0.3125rem;
						background-color: darken($dark, 10%);
					}
				}
			}
		}
	}
}

.react-datepicker {
    border: 0.0625rem solid #D9D9D9 !important;
}

.react-datepicker__month-container {
    font-family: inherit;
    font-size: 0.8125rem !important;
    
    .react-datepicker-time__header,
    .react-datepicker__current-month {
        font-weight: 500;
        font-size: 0.8125rem !important;
    }

    .react-datepicker__header {
        border-bottom: 0.0625rem solid #D9D9D9 !important;
    }

    .react-datepicker__day--selected,
    .react-datepicker__day--in-range,
    .react-datepicker__day--in-selecting-range {
        background-color: #ed7102;
    }
}

.react-datepicker__time-container {
    font-family: inherit;
    
    .react-datepicker__header--time {
        border-bottom: 0.0625rem solid #D9D9D9 !important;
    }

    .react-datepicker-time__header {
        font-weight: 500;
        font-size: 0.8125rem !important;
    }
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
    width: auto !important;

    .react-datepicker__time-list {
        padding: 0;

        .react-datepicker__time-list-item--selected {
            background-color: #ed7102 !important;
        }
    }
}
