input,
button,
textarea {
	&:focus {
		outline: none !important;
	}
}

label {
	@extend %text-uppercase;
	
	// font-size: 0.75rem;
	font-weight: $font-weight-semi;
}

.custom-select,
.form-control {
	// font-size: 0.875em;
	background-color: $gray-300;
	color: $body-color !important;
	// font-weight: $font-weight-semi;
	border: calculateRem(1px) solid $gray-600;

	@include media-breakpoint-up(lg) {
		line-height: calculateRem(44px);
	}
}

.custom-select,
select.form-control:not([size]):not([multiple]) {
	height: auto;
}

.custom-select-xl {
	height: $custom-select-height-xl;
	font-size: $custom-select-font-size-xl;
}
