.modal-header {
	color: $white;
	text-transform: uppercase;
	background-color: $secondary;
	
	.label-wrap {
		* {
			margin: 0;
			line-height: 1;
		}
	}
	
	.modal-title {
		width: 100%;
		font-size: 1.3rem;
		text-align: center;

		@include media-breakpoint-up(md) {
			text-align: left;
		}
	}

	.close {
		display: none;
	}
}

.modal-footer {
	border-top: calculateRem(1px) solid $light;
}

.modal-body,
.modal-header {
	position: relative;
	padding: ($grid-gutter-width * 1.5) ($grid-gutter-width * 2);
}

.modal-dialog-error {
	.modal-header {
		background-color: $danger;
	}
}

.modal-dialog-success {
	.modal-header {
		background-color: $success;
	}
}
