.modal-header {
	color: $white;
	text-transform: uppercase;
	background-color: $secondary;

	.label-wrap {
		* {
			margin: 0;
			line-height: 1;
		}
	}

	.close {
		display: none;
	}
}

.modal-footer {
	border-top: calculateRem(1px) solid $light;
}

.modal-body,
.modal-header {
	position: relative;
	padding: ($grid-gutter-width * 1.5) ($grid-gutter-width * 2);
}

.modal-dialog-error {
	.modal-header {
		background-color: $danger;
	}
}

.modal-dialog-success {
	.modal-header {
		background-color: $success;
	}
}
