[draggable=true] {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	/* Required to make elements draggable in old WebKit */
	-khtml-user-drag: element;
	-webkit-user-drag: element;
}

.table-wrapper {
	position: relative;
}

.table-scroller {
	width: 100%;
	overflow-y: hidden;
	white-space: nowrap;
	overflow-x: inherit;
	background-color: $white;
	border-radius: calculateRem(5px);
	border: calculateRem(5px) solid $white;
	
	/*
	@include media-breakpoint-down(lg) {
		border-radius: 0;
		margin-left: 300px;
		overflow-x: scroll;
		overflow-y: visible;
		border-left: 0 !important;
    }
    
    @include media-breakpoint-down(lg) {
		width: 859px;
	}
	
	@include media-breakpoint-down(md) {
		width: 659px;
	}
	
	@include media-breakpoint-down(sm) {
		width: 436px;
	}
	*/
}

.employees {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	
	thead {
		position: relative;
	}

	tr {
		&:nth-child(even) {
		}
		
		th {
			background-color: $gray-700;
			background-clip: padding-box;
			font-weight: $font-weight-semi;
			border: calculateRem(5px) solid $white !important;
			
			.sort-direction {
				width: 0;
				height: 0;
				display: inline-block;
				margin: 0 0 calculateRem(2px) calculateRem(5px);
				border-left: calculateRem(5px) solid transparent;
				border-right: calculateRem(5px) solid transparent;
			
				&.asc {
					border-bottom: calculateRem(5px) solid #000000;
				}
			
				&.desc {
					border-top: calculateRem(5px) solid #000000;
				}
			}
			
			.placements-status {
				* {
					display: inline-block;
					vertical-align: middle;
				}
			
				.indicator {
					margin-top: -2px;
					width: calculateRem(10px);
					height: calculateRem(10px);
					border-radius: calculateRem(5px);
			
					&.todo {
						color: $danger;
						background-color: $danger;
					}
			
					&.doing {
						color: $info;
						background-color: $info;
					}
			
					&.done {
						color: $success;
						background-color: $success;
					}
				}
			
				.count {
					color: $dark;
					background-color: transparent;
					font-weight: $font-weight-normal;
				}
			}
			
			.flex-column {
				width: 30%;
				background-color: transparent;
				
				.flex-row {
					&:first-child {
						background-color: $gray-100;
					}
	
					&:last-child {
						background-color: $gray-200;
					}
				}
				
				&:last-child {
					width: 70%;	
				}
			}
			
			&.sortable {
				/* cursor: pointer; */
			}
		}
		
		.column {
			width: 160px;
		}
		
		.column.first {
			width: 300px;
			
			.flex-column {
				width: 50%;
	
				&:last-child {
					width: 50%;
				}
			}
		}
		
		.column.last {
			width: 130px;
		}
	
		td {
			cursor: default;
			white-space: nowrap;
			background-color: $gray-400;
			background-clip: padding-box;
			border: calculateRem(5px) solid $white;
			
			.complete {
				color: $primary;
			}

			.shift {
				border: 0;
				z-index: 1;
				width: 100%;
				cursor: pointer;
				min-height: 57px;
				position: relative;
				color: $body-color-light;
				background-color: $secondary;
				
				&:hover {
					cursor: pointer;
				}
				
				&:active {
				}
				
				&:not(:only-child, :last-child) {
					border-bottom: calculateRem(3px) solid darken($secondary, 10%);
				}
			}
			
			.shift-selected {
				background-color: $secondary !important;
			}
			
			.shift-invisible {
				display: none !important;
			}
	
			.add-shift {
				border: 0;
				opacity: 0;
				z-index: 0;
				color: $gray-900;
				min-height: 67px;
				position: relative;
				cursor: pointer !important;
				background-color: transparent;
				
				&:hover {
					cursor: pointer !important;
					border: 1px dashed $gray-900 !important;
					box-sizing: border-box !important;
				}
			}
		}
		
		th.non-draggable-cell {
			color: $dark;
			cursor: no-drop;
			background-color: $gray-700;
			background-image: repeating-linear-gradient(45deg, transparent, transparent 3px, rgba(255, 255, 255, 0.2) 3px, rgba(255, 255, 255, 0.1) 6px);
		}
		
		th.today {
			color: $dark;
			background-color: $gray-900;
		}
		
		td.non-draggable-cell {
			z-index: 1;
			cursor: no-drop;
			color: $white;
			background-color: $gray-200;
			background-image: repeating-linear-gradient(45deg, transparent, transparent 3px, rgba(255, 255, 255, 0.5) 3px, rgba(255, 255, 255, 0.5) 6px);
		}
	
		.draggable-cell {
			z-index: 1;
				
			&:hover {
				z-index: 2;
				
				.add-shift {
					opacity: 1;
				}
			}
		}
		
		.cell-highlighted {
			opacity: 0.5;
			background-color: $success !important;
		}

		.drag-handler {
			cursor: move !important;
			
			&:active,
			&:hover {
				cursor: move !important;
			}
		}
		
		.edit-employee {
			.edit-handler {
				display: none;
			}
		
			&:hover {
				cursor: pointer;
				background-color: darken($gray-400, 5%);
			
				.edit-handler {
					top: 0;
					right: 0;
					display: inline-block;
				}
			}
		}
	}
	
	.draggable-row,
	.draggable-row-drag td {
		cursor: move !important;
		
		&:active,
		&:hover {
			cursor: move !important;
		}
	}
	
	.draggable-row-ghost {
		td {
			border: 5px solid $white;
			background-color: rgba(144, 189, 72, 0.3);
		}
	}
	
	tfoot tr th {
		background-color: $white;
	}
}

/*
@include media-breakpoint-down(lg) {
	.freeze {
		left: 0;
		top: auto;
		width: 300px;
		position: absolute;
		margin-top: -2px !important;
	}
	
	thead {
		.freeze {
			padding: 12px 10px !important;
		}
		
		th:nth-child(2) {
			border-left: 0 !important;
		}
	}
	
	tbody {
		.freeze {
			padding: 12px 10px !important;
		}
		
		td:nth-child(2) {
			border-left: 0 !important;
		}
	}
	
	tfoot {
		th:nth-child(2) {
			border-left: 0 !important;
		}
	}
}
*/
